<div class="spot-index-wrapper">
  <div class="container">
    <div class = "space"></div>
    <h1 class="text-center text-red login-title">Spots All</h1>
    <% @spots.each do | spot | %>

    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="spot-index-single">
        <%= link_to spot.name, new_plan_spot_path(params[:id])  %>

        <%= spot.address %>

        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
