
          <div class="form-group">
            <%= f.label :password, "新しいパスワード", class: "text-white"%>
            <%= f.password_field :password, class: "form-control"%>
          </div>
          <div class="form-group">
            <%= f.label :password_confirmation, "新しいパスワード(再入力)", class: "text-white"%>
            <%= f.password_field :password_confirmation, class: "form-control"%>
          </div>
