<div class="users-new-wrapper">
  <div class="container">
    <div class="row">

      <div class="col-md-offset-7 col-md-4 users-new-container">
        <h1 class="text-center text-white">Sign up</h1>
        <%= link_to "ログインはこちら", "#", class: "btn-login text-black" %>
      </div>
    </div>
  </div>
</div>
